# Dependencies
node_modules/
package-lock.json
jspm_packages/

# Build output
dist/
build/
*.tsbuildinfo

# Environment variables
.env*
!.env.example

# Cache directories
.npm
.eslintcache
.cache/
.parcel-cache/
.rpt2_cache/
.rts2_cache_*/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Editor and OS files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
prisma/migrations/
ecosystem.config.js
/src/generated/prisma